common==0.1.2
firebase_admin==6.0.1
Flask==2.2.5
marshmallow==3.19.0
marshmallow_dataclass==8.5.10
protobuf==4.22.1
PyYAML==6.0
twilio==7.16.0
google-cloud-ndb==2.1.0
google-cloud-tasks==2.13.1
six==1.16.0